* {
    box-sizing: border-box;
    font-size: 0px;
}

body {
    margin: 0;;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

/* .color-grid {
    text-align: center;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: none;
} */

.color-box {
    display: inline-block;
    /* width: 100%; */
    padding-bottom: 10%; 
    /* margin: 1%;  */
    border: 10px solid white;
}

.light-pink{
    width:100%;
}

.hot-pink{
    width:25%;
}

.teal{
    width:50%
}

.green{
    width:75%
}

.orange{
    width:25%
}
@media (max-width: 768px) {
    .color-box {
        width: 100%;
        padding-bottom: 100%;
    }
}
